*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.carousel {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    padding: 20px;
    background-color: rgb(235, 250, 255);
    overflow-x: scroll;
}

.carousel img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 3px solid lightblue;
    border-radius: 20px;
    animation: grow ease-in-out;
    animation-timeline: view(inline 50% 30%);
    /* scroll(nearest inline);  */
    /* nearest - ближайщий родитель ; inline - горизонтальный скролл*/
}


@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}