*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    min-height: 3000px;
}

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
}

.main-content {
    padding: 50px;
    max-width: 400px;
    margin: 0 auto;
}

.box-1, .list, .box-2 {
    margin-bottom: 50px;
}


.list-item {
    padding-top: 20px;
    animation: bounceInRight;
    animation-timeline: view();
    animation-range: entry 100% contain 50%;
}

.box-1 {
    padding: 20px;
    background-color: rgb(2, 189, 189);
    font-weight: bold;
    color: white;
    animation: appearance ease-in-out;
    animation-timeline: view();
    animation-range: entry 100% contain 50%;
}

.box-2 {
    padding: 20px;
    background-color: rgb(236, 99, 156);
    color: white;
    animation: slideScale;
    animation-timeline: view();
    animation-range: entry 100% contain 50%;
}


@keyframes appearance {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounceInRight {
    from {
        transform: translateX(400%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


@keyframes slideScale {
    0% {
        opacity: 0;
        transform: translateY(100px) scale(0.5);
    }

    50% {
        opacity: 0.7;
        transform: translateY(-20px) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}